<div class="srch_blk srh_fl">
  <div class="srch">
    <div class="sc_icn"></div>
    <div class="sc_blk">
      <input name="search" id="search" type="text" placeholder="Future Makers & More"  onkeyup="javascript:SearchResult()"  />
      <a href="javascript:voiceSearch()" class="mic"></a></div>
  </div>
</div>

 <div class="srh_cn animatedSlow fadeInLeft" id="searchContent" ><p class="ps">Search for Future Makers & More</p></div>
